#header {
    height: 64px;
    background-color: black;

}

#body {
    height: 100%;
    background-color: blue;
    width: 1024px;
    margin: 0 auto;
}

#footer {
    height: 200px;
    background-color: red;
}

#banner {
    height: 300px;
    background-color: yellow;
}