body {
    margin: 0;
    padding: 0;
}

#header {
    height: 64px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray;
}

#body {
    height: 100%;
    width: 1024px;
    margin: 0 auto;
}

#footer {
    height: 200px;
    background-color: red;
}

#banner {
    height: 300px;
    background-color: yellow;
}

#header-area {
    width: 1024px;
    height: 100%;
    display: flex;
    align-items: center;
}

#header-area > img {
    width: 128px;
    height: 36px;
    
}

#banner > img {
    width: 100%;
    height: 300px;
}